{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "Blob": true,
    "BlobBuilder": true
  },
  "rules": {
    "key-spacing": false,
    "no-multi-spaces": 0,
    "quotes": [1, "single"]
  }
}
